Q1: Electricity Billing Optimization

You are analyzing monthly household electricity consumption data for 10 customers in Kampala. Each record contains: customer_name, units_used, connection_type (e.g., 'Bosco', 245, 'Domestic'). Attempt the following tasks:

1.1. Use zip() and map() to pair customer names with total bills computed by a lambda:
 • Domestic rate = 820 UGX/unit
 • Commercial rate = 1000 UGX/unit

1.2. Use filter() to separate high-consumption customers (units > 500).

In [2]:
#getting the records for 10 customers

customer_name = ['Jonah','Viola','Joyce','Mercy','Inno','Flora','Andrew','Ben','Pesh','Mat']
units_used = [245,564,354,678,722,100,434,570,900,345]
connection_type =['Domestic','Commercial','Commercial','Domestic','Commercial','Commercial','Commercial','Domestic','Commercial','Domestic']

#using the lambda func as the first argument for the map func and a zip object as the
#second argument to compute bills according to connection type
bills = map(lambda item: item[0]*820 if item[1] == 'Domestic' else item[0]*1000,zip(units_used,connection_type))

bills = list(bills) #converts bills from azip object to a list
customer_bills = zip(customer_name,bills) #matching customer_name to bills of that customer
customer_bills = list(customer_bills) #converts customer_bills from a zip object to a list

for name, bill in customer_bills:
    print(f"{name}: {bill} UGX") #displaying results

Jonah: 200900 UGX
Viola: 564000 UGX
Joyce: 354000 UGX
Mercy: 555960 UGX
Inno: 722000 UGX
Flora: 100000 UGX
Andrew: 434000 UGX
Ben: 467400 UGX
Pesh: 900000 UGX
Mat: 282900 UGX

In [3]:
# filering out hgh consumption customers and putting the result inside a list
high_consumption_customers = list((filter(lambda item:item[1] > 500,zip(customer_name,units_used))))
print("High Consumption Customers:")
for name, units in high_consumption_customers:
    print(name, units, sep ='-')

High Consumption Customers:
Viola-564
Mercy-678
Inno-722
Ben-570
Pesh-900

1.3. Using *args, write a function average_bill(*bills) that computes the average.

In [4]:
def average_bills(*bills):
    if len(bills) == 0:
        return 0

    total = sum(bills)  # Sum all the bills
    count = len(bills)# Count how many bills were provided
    average = total / count # Compute the average
    return average  # Returns the calculated average

bills = [amount for  _,amount in customer_bills]
print(bills)
answer = average_bills(*bills)
print(f"average bills =: {answer}")

[200900, 564000, 354000, 555960, 722000, 100000, 434000, 467400, 900000, 282900]
average bills =: 458116.0

1.4) Display results using list comprehension in the format: ['Bosco: UGX 200,900', 'Jane: UGX 400,000', ...]

In [5]:
bills_formatted = [f"{name}: UGX {amount:,}" for name, amount in customer_bills]
print(bills_formatted)

['Jonah: UGX 200,900', 'Viola: UGX 564,000', 'Joyce: UGX 354,000', 'Mercy: UGX 555,960', 'Inno: UGX 722,000', 'Flora: UGX 100,000', 'Andrew: UGX 434,000', 'Ben: UGX 467,400', 'Pesh: UGX 900,000', 'Mat: UGX 282,900']

Q2: Market Basket Price Aggregator
Each vendor reports different fruit prices daily:
mango_prices = [2500, 2700, 2600, 2800]
orange_prices = [3000, 3200, 3100, 3050]
apple_prices = [4500, 4600, 4550, 4700]
Attempt the following tasks:

2.1 Use zip_longest() to handle missing prices.

In [6]:
from itertools import zip_longest
mango_prices = [2500, 2700, 2600, 2800]
orange_prices = [3000, 3200, 3100, 3050]
apple_prices = [4500, 4600, 4550, 4700]

prices_combined= zip_longest(mango_prices,orange_prices,apple_prices,fillvalue = 0)#Combine the daily prices using zip_longest
# fillvalue=0 ensures that if a vendor misses a report, we treat the missing price as 0

prices_combined= list(prices_combined) #converts the zip object into a list of prices

mango, orange, apple = zip(*prices_combined)
#seperates prices per fruit presented as tuples

print("Mango prices:", mango)
print("Orange prices:", orange)
print("Apple prices:", apple)
#displaying the results

Mango prices: (2500, 2700, 2600, 2800)
Orange prices: (3000, 3200, 3100, 3050)
Apple prices: (4500, 4600, 4550, 4700)

2.2 Define a lambda function avg = lambda lst: sum(lst)/len(lst) to compute average per fruit.

In [7]:
prices_fruitwise = zip(*prices_combined) #Transposes the daywise tuples into fruitwise tuples

avg = lambda lst: sum(lst)/len(lst) #writing a lambda func to calculate average
average = [avg(lst) for lst in list(prices_fruitwise)] # calling the func avg()

print(f"Average mangos price = {average[0]}\nAverage oranges price = {average[1]}\nAverage apples price = {average[2]}")
# displaying averages

Average mangos price = 2650.0
Average oranges price = 3087.5
Average apples price = 4587.5

2.3 Create a generator expression that yields all fruits with average price above 3000.

In [8]:
fruits =('Mango','Orange','Apple')
costly_fruits = (fruit for fruit,average_price in zip(fruits,average) if average_price > 3000)

2.4 Print the generator’s results neatly as: Fruits Above Average Price: Mango, Orange, Apple

In [9]:
costly_fruits_list = list(costly_fruits)

print(f"Fruits Above Average Price: {', '.join(costly_fruits_list)}")

Fruits Above Average Price: Orange, Apple

Q3: District Temperature Tracker

In [10]:
#Temperature data (°C):
kampala = [28, 30, 29, 27, 26, 29, 30, 31, 32, 30, 29, 28]
gulu = [25, 26, 27, 27, 28, 29, 30, 30, 29, 27, 26, 25]
mbarara = [22, 23, 23, 24, 25, 25, 26, 27, 27, 26, 24, 23]

3.1. Use map() with lambda to convert all temperatures to Fahrenheit.

In [11]:
temps = kampala + gulu + mbarara # combiningall temperatures into a single list

temps_to_fah = list(map(lambda t: (t *9/5 )+ 32, temps)) #converts celcius to fahrenheits
print(temps_to_fah) #display result

[82.4, 86.0, 84.2, 80.6, 78.8, 84.2, 86.0, 87.8, 89.6, 86.0, 84.2, 82.4, 77.0, 78.8, 80.6, 80.6, 82.4, 84.2, 86.0, 86.0, 84.2, 80.6, 78.8, 77.0, 71.6, 73.4, 73.4, 75.2, 77.0, 77.0, 78.8, 80.6, 80.6, 78.8, 75.2, 73.4]

3.2. Use zip() to pair months (Jan–Dec) with Kampala temps.

In [12]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

kamp_monthly = list(zip(months,kampala))

for month, temp in kamp_monthly:
    print(f"{month}: {temp}°C")

Jan: 28°C
Feb: 30°C
Mar: 29°C
Apr: 27°C
May: 26°C
Jun: 29°C
Jul: 30°C
Aug: 31°C
Sep: 32°C
Oct: 30°C
Nov: 29°C
Dec: 28°C

3.3. Use filter() to identify months with temperature > 30°C.

In [13]:
hot_months = list(filter(lambda item: item[1] > 30, kamp_monthly))
print(hot_months)

[('Aug', 31), ('Sep', 32)]

3.4.Create a generator to yield month names and temperatures above threshold.

In [14]:
threshold = 30
hott_months = (month for month,t in kamp_monthly if t > threshold)

3.5. Print as: Hot months in Kampala: July - 31°C, August - 32°C

In [15]:
hot_months_str = ', '.join(f"{month} - {temp}°C" for month, temp in hot_months)

# Print the result
print(f"Hot months in Kampala: {hot_months_str}")

Hot months in Kampala: Aug - 31°C, Sep - 32°C

Q4: School Fees Payment Analyzer

In [16]:
#Installment data:
students = ['Alex', 'Grace', 'Sarah', 'Brian']
installments = [
 [150000, 200000, 250000],
 [500000, 0, 200000],
 [300000, 300000, 300000],
 [400000, 100000, 0]
]

4.1. Write a lambda function that sums valid payments and ignores zeros.

In [17]:
sum_payments = lambda payments: sum(p for p in payments if p != 0)
answer = sum_payments(installments[0])
print("Total pay for Alex:",answer)

Total pay for Alex: 600000

4.2. Use map() to compute total paid by each student.

In [18]:
total_payment = map(sum_payments,installments)
total_payment_value = list(total_payment)
print("Totals for Alex, Grace, Sarah, Brain respectively",total_payment_value)

Totals for Alex, Grace, Sarah, Brain respectively [600000, 700000, 900000, 500000]

4.3. Combine student names and totals using zip().

In [19]:
total_pay_students = zip(students,total_payment_value)
students_totals = list(total_pay_students)
print(students_totals)

[('Alex', 600000), ('Grace', 700000), ('Sarah', 900000), ('Brian', 500000)]

4.4. Use filter() to find students who have cleared full fees (≥600,000).

In [20]:
cleared_students = filter(lambda value: value[1] >= 600000, students_totals)
cleared_students_value = list(cleared_students)
print("Students who paid full fees:",cleared_students_value)

Students who paid full fees: [('Alex', 600000), ('Grace', 700000), ('Sarah', 900000)]

4.5. Create payment_summary(**kwargs) that receives named args like Alex=600000 and prints summaries.

In [21]:
def payment_summary(**kwargs):
  for student,value in kwargs.items():
    if value >=600000:
      print(f"{student} cleared school fees, {value}units")
    else:
        print(f"{student} did not clear school fees, {value}units")
payment_summary(Alex=600000, Grace=700000, Sarah=900000, Brian=50000)

Alex cleared school fees, 600000units
Grace cleared school fees, 700000units
Sarah cleared school fees, 900000units
Brian did not clear school fees, 50000units

Q5: Agricultural Yield Estimator

In [23]:
districts = ['Bushenyi', 'Mityana', 'Kasese', 'Mbale']
yield_data = [1200, 1500, 900, 1300]

5.1. Use a list comprehension with a lambda to convert yields from kg to tons

In [24]:
yields_tons = [(lambda y: y/1000 )(y) for y in yield_data]
print(yields_tons)

[1.2, 1.5, 0.9, 1.3]

5.2. Write a generator that yields only districts with yield > 1 ton.

In [25]:
high_yield_districts = (district for district, y in zip(districts, yields_tons) if y > 1)
print("Districts with yield > 1 ton:")
for district in high_yield_districts:
    print(district)

Districts with yield > 1 ton:
Bushenyi
Mityana
Mbale

5.3. Use *args to compute average yield across all districts

In [26]:
def average_yield(*yields):
      return sum(yields) / len(yields)

avg_yield = average_yield(*yields_tons)
print(f"Average yield across districts: {avg_yield:.2f} tons")

Average yield across districts: 1.23 tons

5.4. Use **kwargs to simulate price changes per district and compute revenue (tons × price).

In [27]:

def compute_revenue(**prices):
  revenue ={}
  for district, price_per_ton in prices.items():  # loop through supplied prices
        if district in districts:
            idx = districts.index(district)  # find index of district
            revenue[district] = yields_tons[idx] * price_per_ton
        else:
            print(f"Warning: {district} not in districts list")
  return revenue
revenues = compute_revenue(Bushenyi = 100000, Mityana = 400000, Kasese = 230000, Mbale= 350040)
print("Revenue for Bushenyi",revenues['Bushenyi'])
print("Revenue for Mityana",revenues['Mityana'])
print("Revenue for Kasese",revenues['Kasese'])
print("Revenue for Mbale",revenues['Mbale'])

Revenue for Bushenyi 120000.0
Revenue for Mityana 600000.0
Revenue for Kasese 207000.0
Revenue for Mbale 455052.0

5.5. Print formatted output like: Kasese produced 0.9 tons — Revenue: UGX 4,500,000.

In [28]:
for district, rev in revenues.items():
    tons = yields_tons[districts.index(district)]
    print(f"{district} produced {tons:.1f} tons — Revenue: UGX {rev:,.0f}")

Bushenyi produced 1.2 tons — Revenue: UGX 120,000
Mityana produced 1.5 tons — Revenue: UGX 600,000
Kasese produced 0.9 tons — Revenue: UGX 207,000
Mbale produced 1.3 tons — Revenue: UGX 455,052

Q6. Web Data Aggregation

In [29]:

sites = ['https://ucu.ac.ug', 'https://harba.ug', 'https://www.bou.or.ug']

6.1 Write a function that takes *urls and uses requests.get() to return response codes.

In [30]:
import requests
def get_status_codes(*urls):

    results = []
    for url in urls:
        try:
            response = requests.get(url)
            results.append((url, response.status_code))
        except requests.RequestException:
            # In case of network error or invalid URL
            results.append((url, None))
    return results

status_list = get_status_codes(*sites)
print("Status Codes:", status_list)

Status Codes: [('https://ucu.ac.ug', 200), ('https://harba.ug', 200), ('https://www.bou.or.ug', 200)]

6.2. Use a list comprehension to print only URLs with status code 200.

In [31]:
reachable_urls = [url for url, code in status_list if code == 200]
print("Reachable URLs:", reachable_urls)

Reachable URLs: ['https://ucu.ac.ug', 'https://harba.ug', 'https://www.bou.or.ug']

6.3. Store results in a dictionary using a dictionary comprehension.

In [32]:
status_dict = {url: code for url, code in status_list}
print("Status Dictionary:", status_dict)

Status Dictionary: {'https://ucu.ac.ug': 200, 'https://harba.ug': 200, 'https://www.bou.or.ug': 200}

6.4. Create a generator expression that yields 'Active Site: ' for reachable domains.

In [33]:
active_sites = (f"Active Site: {url}" for url, code in status_list if code == 200)

# Print generator results
for site in active_sites:
    print(site)

Active Site: https://ucu.ac.ug
Active Site: https://harba.ug
Active Site: https://www.bou.or.ug